$gruv-bg:        #282828;
$gruv-bg0:       #282828;
$gruv-bg1:       #3c3836;
$gruv-bg2:       #504945;
$gruv-red-bg:    #cc241d;
$gruv-orange-bg: #d65d0e;
$gruv-green-bg:  #98971a;
$gruv-yellow-bg: #d79921;
$gruv-blue-bg:   #458588;
$gruv-purple-bg: #b16286;
$gruv-aqua-bg:   #689d6a;
$gruv-gray-bg:   #a89984;
$gruv-gray-fg:   #928374;
$gruv-red-fg:    #fb4934;
$gruv-orange-fg: #fe8019;
$gruv-green-fg:  #b8bb26;
$gruv-yellow-fg: #fabd2f;
$gruv-blue-fg:   #83a598;
$gruv-purple-fg: #de869b;
$gruv-aqua-fg:   #8ec07c;
$gruv-fg:        #ebdbb2;
